#lockscreen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-user-select: none;
  opacity: 1;
  /* Utilzing a cubic bezier timing function to hide the fact
     that we might be slow at the beginning of the transition. */
  transition:
    transform 0.5s cubic-bezier(0.7, 0.0, 1.0, 1.0),
    opacity 0.5s cubic-bezier(0.7, 0.0, 1.0, 1.0);
}

#screen.active-statusbar > #lockscreen {
  top: 4rem;
  height: calc(100% - 4rem);
}

#lockscreen.unlocked {
  /* Workaround specifically targetting Gecko:
     The transform here is equal to scale(2),
     however this will stop Gecko from creating a 2x big layer (4x the memory),
     resulting super-smooth transition. */
  transform: perspective(1000px) translateZ(500px);
  opacity: 0;
  pointer-events: none;
}

/**
 * Because of performance issue, we need to use an individual
 * background element instead of setting the background inside the container.
 *
 * This would be a step toward removing the overhead while a large container
 * contains children and do the opacity animation, which would cost lot on
 * temporary surfaces.
 **/
#lockscreen-background {
  position: absolute;
  top: 0;
  overflow: hidden;

  /* Must match the CSS background rule of #screen in system.css */
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover; /* Possible memory over-consumption with huge images, it should be removed for improving stability*/
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -moz-user-select: none;
  opacity: 1;
  z-index: 1;
}

#screen.screenoff > #lockscreen,
#screen.screenoff > #lockscreen * {
  transition: none;
}

#screen.lockscreen-camera > #lockscreen-camera {
  visibility: visible;
}

/* When switching lock-camera off,
 * transition time should be delayed to prevent homescreen appears.
 * (Let lockscreen appears first)                                   */
#screen:not(.lockscreen-camera) > #lockscreen-camera {
  transition-delay: 0.3s;
}

#lockscreen-camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  visibility: hidden;
}

#lockscreen-camera > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#lockscreen.uninit > * {
  display: none;
}

#lockscreen.no-transition {
  transition: none;
}

#lockscreen-container {
  width: 100%;
  height: 100%;

  /**
   * Workaround bug 823418 by trigger a repaint as soon as .screenoff class
   * is removed, remove me when the bug is fixed.
   */
  transition: opacity 0.1s ease;
}

/**
 * Workaround bug 823418 by trigger a repaint as soon as .screenoff class
 * is removed, remove me when the bug is fixed.
 */
.screenoff #lockscreen-container {
  opacity: 0.99;
}

.lockscreen-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  visibility: hidden;
  transition: visibility 0.5s ease, transform 0.5s ease;
}

.lockscreen-background::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* Replace this with radical gradient */
  background: transparent url('./images/mask.png') 50% 50% no-repeat;
  background-size: cover;
}

/**
 * Because of the individual background element, the slide would appear
 * after the passcode pad got invoked, so we need to hide it here.
 */
[data-panel="passcode"] #notifications-lockscreen-container,
[data-panel="passcode"] #lockscreen-media-container,
[data-panel="passcode"] #lockscreen-icon-container {
  visibility: hidden;
}

[data-panel="main"] #lockscreen-panel-main,
[data-panel="passcode"] #lockscreen-panel-main,
[data-panel="passcode"] #lockscreen-panel-passcode,
[data-panel="emergency-call"] #lockscreen-panel-emergency-call {
  visibility: inherit;
}

[data-panel="main"] #lockscreen-alt-camera {
  visibility: hidden;
}

[data-panel="passcode"] #lockscreen-alt-camera {
  opacity: 1;
}

[data-panel="emergency-call"] #lockscreen-panel-main {
  transform: translateX(-100%);
}

#lockscreen-header {
  z-index: 9999;
  position: absolute;
  top: 2rem;   /* 2rem = height of status bar */
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  padding: 1.8rem 2.5rem 1.2rem 2.5rem;
  color: #fff;
  text-shadow: 0 0 0.3rem #333;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 1;
}

[data-panel="main"] #lockscreen-header {
  transform: translateY(0);
}

[data-panel="camera"] #lockscreen-header,
[data-panel="emergency-call"] #lockscreen-header {
  transform: translateY(0);
  transition: none;
}

#lockscreen-conn-states {
  width: 100%;
  display: inline-block;
  font-weight: 400;
  font-size: calc(6 * 0.226rem);
  text-shadow: 0.1rem 0.1rem 0.3rem #000000;
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem rgba(256,256,256,.4);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#lockscreen-conn-states span:empty {
  display: none;
}

#lockscreen-conn-states span:first-child {
  display: inline-block;
  width: 4rem;
}

#lockscreen-conn-states span:last-child {
  display: block;
}

/* For some reason display: inline-block disregards hidden attribute */
#lockscreen-conn-states span[hidden],
#lockscreen-conn-states[hidden] {
  display: none;
}

#lockscreen-clock-time {
  margin: -0.8rem 0 -1rem -0.4rem;
  font-weight: 300;
  font-size: calc(26 * 0.226rem);
}

#lockscreen-clock-time span { /* optional meridiem */
  font-size: calc(17 * 0.226rem);
}

#lockscreen-date {
  font-weight: 400;
  font-size: calc(7 * 0.226rem);
}

#lockscreen-clock-time, #lockscreen-date {
  text-shadow: 0.1rem 0.1rem 0.3rem #000000;
  color: #fff;
}

#lockscreen-area {
  position: absolute;
  height: 11.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.lockscreen-icon-area {
  height: 10rem;
  position: absolute;
  border-style: none;
  transition: opacity 0.5s ease;
}

.lockscreen-icon {
  margin-top: 2rem;
  width: 6rem;
  height: 6rem;

  pointer-events: none;
}

.lockscreen-icon-area.dark .lockscreen-icon{
  opacity: 0.65;
}

#lockscreen-area-slide {
  text-align: center;
  width: calc(100%);
}

.touched .lockscreen-icon {
  transition: none;
}

.lockscreen-icon-right {
  right: calc(50% - 14rem);
}

.lockscreen-icon-left {
  left: calc(50% - 14rem);
}

@media (min-width:768px) {
  .lockscreen-icon-right {
    right: calc(50% - 20.5rem);
  }

  .lockscreen-icon-left {
    left: calc(50% - 20.5rem);
  }

  #lockscreen-header {
    text-shadow: 0 0 0.5rem #111111;
    padding-left: 6rem;
    font-weight: lighter;
  }

  #lockscreen-date {
    padding-top: 0.5rem;
    font-size: 2.4rem;
  }
}

button::-moz-focus-inner {
  border: 0;
}

:-moz-any(.touched, #screen:not(.locked), #screen.attention, #lockscreen:not([data-panel="main"]))
:-moz-any(#lockscreen-left-arrow, #lockscreen-right-arrow) {
  display: none;
  animation: none;
}

#lockscreen-area-unlock > div {
  background-image: url('./images/icon-unlock.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.lockscreen-icon-left, .lockscreen-icon-right {
  z-index: 16;
  pointer-events: auto;
}

/* Compensation for the effects after enabling the pointer-event attribute. */
.lockscreen-icon-left:active, .lockscreen-icon-right:active {
  background: none;
}

#lockscreen-alt-camera-button,
#lockscreen-area-camera > div {
  background-image: url('./images/icon-camera.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem;
}

#lockscreen-alt-camera {
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  border: 0.2rem solid rgba(255, 255, 255, 0.8);

  float: right;
  pointer-events: auto;
  opacity: 0.1;
  transition: opacity 0.5s ease;
}

#lockscreen-alt-camera-button {
  width: 100%;
  height: 100%;

  border-radius: 50%;

  pointer-events: auto;
}

[data-panel="emergency-call"] #lockscreen-panel-passcode {
  transform: translateX(-100%);
}

#lockscreen-panel-passcode {
  /* > camera, unlock icons > canvas */
  z-index: 32;
}

#lockscreen-panel-emergency-call {
  /* > camera, unlock icons > canvas */
  z-index: 32;
}

#lockscreen-passcode-code {
  position: absolute;
  bottom: 21.4rem;
  height: 7rem;
  width: 100%;
  background-color: rgba(49, 60, 70, 0.9);
  margin: 0;
  padding: 0 1rem;
  -moz-box-sizing: border-box;
  border-top: 0.1rem solid #525050;
  visibility: hidden;
  transform: translateY(calc(21.4rem + 7.2rem));
  transition: visibility 0.3s ease, transform 0.3s ease;
}

[data-passcode-status="success"] #lockscreen-passcode-pad,
[data-passcode-status="success"] #lockscreen-passcode-code {
  transform: translateY(calc(21.4rem + 7.2rem)) !important;
}

[data-panel="passcode"] #lockscreen-passcode-code {
  visibility: inherit;
  transform: translateY(0);
}

[data-panel="emergency-call"] #lockscreen-passcode-code {
  transition-delay: 0.5s;
}

#lockscreen-passcode-code > span {
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: calc(25% - 1rem);
  margin: 1.5rem 0.5rem;
  height: calc(100% - 3rem);
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;

  position: relative;
}

[data-passcode-status="error"] #lockscreen-passcode-code > span {
  border: 0.1rem #B70404 solid;
}

[data-passcode-status="error"] #lockscreen-passcode-code > span[data-dot]::before {
    background-color: #B70404;
}

#lockscreen-passcode-code > span[data-dot]::before {
  content: '';
  display: block;
  position: absolute;

  width: 1.5rem;
  height: 1.5rem;
  background-color: #3e3b39;
  border-radius: 0.75rem;
  top: 50%;
  left: 50%;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
}

#lockscreen-passcode-pad {
  -moz-box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 21.4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transform: translateY(calc(21.4rem + 7em));
  transition: visibility 0.3s ease, transform 0.3s ease;
}

[data-panel="passcode"] #lockscreen-passcode-pad {
  visibility: inherit;
  transform: translateY(0);
}

[data-panel="emergency-call"] #lockscreen-passcode-pad {
  transition-delay: 0.5s;
}

#lockscreen-passcode-pad > a {
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 33.333%;
  height: 5rem;
  border-top: 0.1rem solid #525050;
  border-bottom: 0.1rem solid #000000;
  border-left: 0.1rem solid #525050;
  border-right: 0.1rem solid #000000;
  outline: none;
  padding: 0 2rem;

  font-size: 3.2rem;
  font-weight: 500;
  line-height: 5rem;

  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 0.3rem #000;
}

#lockscreen-passcode-pad > a:nth-child(3n+1):not([data-key="b"]) {
  border-left: none;
}

#lockscreen-passcode-pad > a.last-row {
  height: 6.4rem;
}

#lockscreen-passcode-pad > a > span {
  pointer-events: none;
  font-size: 1.2rem;
  padding: 1.2rem;
  color: #9aaabc;
}

.passcode-entered #lockscreen-passcode-pad > a[data-key="c"] {
  display: none;
}

#lockscreen-passcode-pad > a[data-key="b"] {
  display: none;
  background: url(images/icon-clear.png) no-repeat center center;
}

.passcode-entered #lockscreen-passcode-pad > a[data-key="b"] {
  display: block;
  text-align: left;
  text-indent: -9999px;
}

#lockscreen-passcode-pad > a:active {
  background-color: #00aacd;
  color: #fff;
  text-shadow: none;
}

#lockscreen-passcode-pad > a:active > span {
  color: #fff;
  text-shadow: none;
}


#lockscreen-passcode-pad > a.lockscreen-passcode-pad-func {
  padding: 0 1rem;
  text-align: center;
}

#lockscreen-passcode-pad > a.lockscreen-passcode-pad-func:after {
  display: inline-block;
  width: 0;
  height: 100%;
  overflow: hidden;
  content: '';
  vertical-align: middle;
}

#lockscreen-passcode-pad > a.lockscreen-passcode-pad-func > span {
  display: inline-block;
  padding: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6rem;
  text-transform: uppercase;
  vertical-align: middle;
}

#lockscreen-passcode-pad > a.disabled {
  pointer-events: none;
}

#lockscreen-passcode-pad > a.disabled > span {
  color: #4d4d4d;
}

#lockscreen-panel-emergency-call {
  transform: translateX(100%);
}

#lockscreen-panel-emergency-call::before {
  content: none;
}

#lockscreen-panel-emergency-call > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

[data-panel="emergency-call"] #lockscreen-panel-emergency-call {
  transform: translateX(0);
}

#lockscreen-area-handle {
  position: absolute;
  background-image: url('./images/handle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  border-top: 0.1rem solid transparent;
  top: -2rem;
  height: 0.9rem;
  width: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

#lockscreen-icon-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  pointer-events: none;
  border-top: 0.1rem solid #989898;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2) 20%);
  z-index: 2;
}

.touched #lockscreen-icon-container {
  transition: none;
}

.touched .lockscreen-icon-area {
  transition: none;
}

#lockscreen-canvas-wrapper {
  position: absolute;
  bottom: 0.75rem;
  z-index: 8;
  width: 100%;
}
