#helper-header {
    position: absolute;
    left: 0;
    top: 5rem;
    right: 0;
}
body:not(.evme-keyboard-visible) .empty-query #helper-header {
    display: none;
}

#search-title {
    position: absolute;
    top: 0;
    left: 1.3rem;
    right: 4rem;
    color: #fff;
    z-index: 50;
    height: 3rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 1), 0 0.1rem 0.1rem #000;
    cursor: pointer;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    #search-title b {
        color: #fff;
        font-weight: inherit;
    }
#search-title.close {
    display: none;
}
    #search-title .query {
        position: relative;
        margin-left: 0.5rem;

        text-transform: lowercase;
    }
        #search-title .type {
            font-style: normal;
            font-weight: normal;
            margin-left: 0.5rem;
        }
        #search-title.notype .type {
            display: none;
        }
    #search-title.notype {
        padding-right: 2.6rem;
    }

#helper-rapper {
    position: absolute;
    left: 0.6rem;
    right: 0.6rem;
    height: 2.8rem;
    line-height: 2.6rem;
    color: #fff;
    font-size: 1.5rem;
    z-index: 55;
    overflow: hidden;
    transform-origin: 50% 50%;
}

#helper-rapper.animate:not(.anim-disabled) {
    transition: all .3s ease;
}
#helper-rapper.close {
    transform: scale(0, 0);
    right: 1.2rem;
    display: none;
}
    #helper-rapper.close ul {
        display: none;
    }

    #helper-tip {
        position: absolute;
        left: 2.2rem;
        bottom: 0.1rem;
        overflow: visible;
        z-index: 300;
        display: none;
        transform: scale(.7, 1);
        transition: all .2s ease;
    }
    #helper-tip b {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.3rem;
        width: 1.3rem;
        background: #fff;
        border-left: 0.1rem solid #000;
        border-top: 0.1rem solid #000;
        transform: rotate(45deg);
        box-shadow: -0.4rem -0.4rem 0.4rem -0.2rem rgba(0, 0, 0, .4);
    }

#helper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 130%;
    margin-bottom: -30%; /* gets rid of the scrollbar */
    overflow: hidden;
}

#helper.animate {
    transition: transform .4s ease;
}
    #helper ul {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-size: 3rem;
        text-transform: lowercase;
        white-space: nowrap;
        -moz-box-sizing: border-box;
    }
    #helper ul.start {
        transform: translate(32rem, 0) !important;
    }
    #helper-rapper:not(.anim-disabled) #helper ul.anim {
        transition: all .4s linear !important;
    }
        #helper ul li {
            position: relative;
            display: inline-block;
            height: 100%;
            padding: 0 1rem 0.4rem 1rem;
            cursor: pointer;
        }
        #helper ul li b {
            font-weight: 600;
        }
        #helper ul li:after {
            content: "";
            position: absolute;
            top: 1.1rem;
            left: -0.2rem;
            width: 0.4rem;
            height: 0.4rem;
            background: #fff;
            border-radius: 0.2rem;
        }
        #helper ul li:first-child {
            font-weight: 600;
            color: #00e4ff;
            padding-left: 0.7rem;
        }
        #helper ul li:last-child {
            padding-right: 0;
        }
        #helper ul li:first-child b {
            font-weight: 600;
        }
        #helper ul li:nth-child(1):after {
            display: none;
        }
        #helper.default ul li:first-child {
            font-weight: inherit;
            color: inherit;
        }
        #helper ul.default li, #helper ul.history li {
            font-weight: 600;
        }
        #helper ul li.label {
            color: rgb(160,160,160);
            font-style: italic;
            font-weight: normal;
            padding: 0 0.2rem 0 0.5rem;
            cursor: default;
            text-transform: none;
        }
        #helper ul.text li.label {
            font-style: normal;
            color: #888;
        }
        #helper ul li.text {
            color: #fff;
            cursor: default;
            text-transform: none;
        }
        #helper ul.didyoumean li.label {
            color: #ff1f1f;
        }
        #helper ul li.label + li {
            padding-left: 0.5rem;
        }
        #helper ul li.label + li:after {
            display: none;
            padding-left: 0.7rem;
        }
        #helper ul li.link {
            color: #00e4ff !important;
            font-weight: normal;
            cursor: pointer;
            text-transform: none;
        }
        #helper ul li.link.disabled {
            color: #999 !important;
        }
        #helper ul li.link.strong {
            font-weight: 600 !important;
        }

#save-search {
    display: none;
    position: absolute;
    right: 0.65rem;
    top: -0.4rem;
    width: 3rem;
    height: 3rem;
    background: url('/everything.me/images/iconaction_bookmark_30x30.png') left top no-repeat;
    background-size: 3rem 3rem;
}
#search-title.visible ~ #save-search {
    display: block;
}
#save-search[data-saved-as-collection='true'] {
    background-image: url('/everything.me/images/bookmarked.png');
}
