
.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 4.5rem;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  font-size: 3rem;
  line-height: 5rem;
  text-align: center;
  color: #fff;
}

.switch-button,
.capture-button,
.misc-button {
  position: absolute;
}

.controls[buttons-enabled=false] .cancel-pick,
.controls[buttons-enabled=false] .gallery-button,
.controls[buttons-enabled=false] .capture-button,
.controls[buttons-enabled=false] .switch-button {
  pointer-events: none;
}

.switch-button,
.misc-button {
  height: 4.5rem;
  width: 33%;
}

.misc-button {
  text-align: center;
  left: 0;
}

/** Icon
 ---------------------------------------------------------*/

.controls .icon {
  display: inline-block;
}

/** Gallery Button
 ---------------------------------------------------------*/

.gallery-button {
  display: none;
  width: 100%;
  height: 100%;
}

/**
 * @gallery=true
 */

.controls[gallery=true] .gallery-button {
  display: block;
}

/**
 * @recording=true
 */

.controls[cancel=true] .gallery-button,
.controls[recording=true] .gallery-button {
  display: none;
}

/** Cancel Pick Button
 ---------------------------------------------------------*/

.cancel-pick {
  display: none;
  width: 100%;
  height: 100%;
  background: url(images/actionicon_cancel.png) center no-repeat;
}

/**
 * @cancel
 */

.controls[cancel=true] .cancel-pick {
  display: block;
}

/** Video Timer
 ---------------------------------------------------------*/

.video-timer {
  display: none;
  position: relative;
  font-size: 1.8rem;
  line-height: 1;
  margin-top: -0.9rem;
  color: white;
  top:50%;
}

/**
 * @capturing
 */

.controls[recording=true] .video-timer {
  display: block;
}

/** Capture Button
 ---------------------------------------------------------*/

/**
 * 1. Vertically center icon
 */

.capture-button {
  line-height: 10.4rem; /* 1 */
  background-color: #03a2b4;
  border-radius: 10rem;
  left: 33%;
  height: 10rem;
  width: 33%;
  top: -2.8rem;
}

/**
 * @recording
 */

.controls[recording=true] .capture-button {
  background-color: #d3361c;
}

/** Capture Button Icon
 ---------------------------------------------------------*/

/**
 * @photo
 */

.controls[mode=picture] .capture-button span:before {
  content: "\e60f";
  /* background-image: url(images/camera.png); */
}

/**
 * @video
 */

.controls[mode=video] .capture-button span:before {
  content: "\e602";
  /* background-image: url(images/video.png); */
}

/**
 * @capturing
 */

 .controls[recording=true] .capture-button span:before {
   content: "";
 }

.controls[recording=true] .capture-button span {
  display: block;
  position: absolute;
  background-image: url(images/stop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3rem;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
}

.controls[recording=true] .capture-button span:before {
  visibility: hidden;
}

/** Switch Button
 ---------------------------------------------------------*/

.switch-button {
  display: none;
  left: 66%;
}

/*.capture-button span {
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
}*/

.controls[switchable=true] .switch-button {
  display: block;
}

/**
 * @recording
 */

.controls[recording=true] .switch-button {
  pointer-events: none;
  opacity: 0.5;
}

/** Switch Button Icon
 ---------------------------------------------------------*/

/**
 * @video
 *
 * Swap the camera and video
 * icons depending on mode
 */
.controls[mode=video] .switch-button span:before {
  content: "\e60f";
  /*background-image: url(images/camera.png);*/
}

/**
 * @picture
 */

.controls[mode=picture] .switch-button span:before {
  content: "\e602";
  /*background-image: url(images/video.png);*/
}


