
.hud {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 7.5rem;
  z-index: 10;
  text-align: center;
  transform: translateZ(1px);
}

body:not(.filmstriphidden) .hud {
  transform: translateY(5rem);
}

/** Buttons
 ---------------------------------------------------------*/

/**
 * 1. Extend touchable zone.
 * 2. When the button is pressed
 *    it changes color instanly.
 *    When it is released it transitons
 *    back to the default color.
 */

.hud_btn,
.settings_close {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.3);
  background-clip: padding-box; /* 1 */
  border: solid 2rem transparent; /* 1 */
  -moz-box-sizing: content-box; /* 1 */
  transition: background-color 1s; /* 2 */
  color: #fff;
}

.hud_btn:active {
  background-color: #00b9df;
  transition: none; /* 2 */
}

.hud_btn:first-child {
  float: left;
}

.hud_btn:last-child {
  float: right;
}

/**
 * @buttons-disabled
 */

.hud[buttons-enabled=false] .hud_btn {
  pointer-events: none;
}

/** Camera Button
 ---------------------------------------------------------*/

.hud_camera {
  font-size: 2.6rem;
  transition: opacity 300ms;
  opacity: 0;
}

/**
 * @camera-enabled
 */

.hud[camera-enabled=true] .hud_camera {
  opacity: 1;
}

/**
 * @camera-hidden
 */

.hud[camera-hidden=true] .hud_camera {
  opacity: 0;
}

/**
 * @toggling-camera
 */

.hud[toggling-camera=true] .hud_camera {
  background-color: #00b9df;
}


/** Flash Button
 ---------------------------------------------------------*/

/**
 * 1. Required to position the flash text.
 */

.hud_flash {
  position: relative; /* 1 */
  visibility: hidden;
  font-size: 2.5rem;
  transition: opacity 300ms;
  opacity: 0;
}

/**
 * @flash-enabled
 */

.hud[flash-enabled=true] .hud_flash {
  visibility: visible;
  opacity: 1;
}

/**
 * @settings-disabled
 */

.hud[settings-enabled=false] .hud_flash {
  float: right;
}


/**
 * @camera-hidden
 */

.hud[flash-hidden=true] .hud_flash {
  opacity: 0;
}

/** Flash Text
 ---------------------------------------------------------*/

/**
 * 1. Hide this as it's not apparent
 *    in UX spec for v1.4.
 */

.hud_flash-text {
  display: none; /* 1 */
  position: absolute;
  top: 50%; left: 100%;
  margin: 0 1rem;
  margin-top: -0.4em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  font-size: 14px;
  line-height: 1em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1000ms;
}

/**
 * @deg90,
 * @deg180
 *
 * The flash text must be moved
 * to the left of the icon so
 * that it doesn't hang off the
 * endge of the screen.
 */

.deg90 .hud_flash-text,
.deg180 .hud_flash-text {
  left: auto;
  right: 100%;
}

/**
 * @is-toggling
 *
 * When the user is toggling
 * the flash setting we show
 * the flash text.
 */

.hud[toggling-flash=true] .hud_flash-text {
  opacity: 1;
  transition: none;
}

/** Flash Name
 ---------------------------------------------------------*/

.flash-name {
  text-transform: capitalize;
}

/**
 * @settings-disabled
 */

.hud[settings-enabled=false] .hud_settings {
  display: none;
}
