section[role="region"].skin-organic {
  background: #f4f4f4;
}

/* Make it so that invalid input areas only show up as red when they're focused.
   This keeps the redness to a minimum in the setup cards. */

input:invalid {
  border: 0.1rem solid #ccc;
  color: initial;
}

input:-moz-placeholder {
  color: #666;
}

input:focus:invalid {
  border: 0.1rem solid #820000;
  color: #b90000;
}


.sup-form {
  margin: 1rem 2rem;
}

.sup-manual-prompt {
  font-size: 1.1rem;
}

.sup-form-item {
  font-size: 1.4rem;
  line-height: 3.8rem;
  vertical-align: middle;
}

.sup-form-item .end {
  float: right;
}

.sup-form-btn {
  width: calc(100% - 3rem);
}

.sup-manual-config-btn {
  display: inline-block;
  color: black;
  font-size: 1.4rem;
  line-height: 1.2rem;
  padding: 1.5rem;
  margin-left: 1.5rem;
  background: none; /* Overrides UA :active background-color */
}

.sup-form-link {
  color: black;
  font-size: 1.4rem;
  line-height: 3.8rem;
  margin: 1.5rem 3rem;
}

.sup-error-region {
  background-color: black;
  color: #fff;
  padding: 0.8rem;
}
.sup-error-message {
  font-size: 120%;
  text-align: center;
}
.sup-error-code {
  color: #aaa;
  margin-top: 0.4rem;
  text-align: right;
  font-size: 110%;
}
.sup-error-code:before {
  content: "[";
}
.sup-error-code:after {
  content: "]";
}


.sup-progress-region {
  width: calc(100% - 3rem);
  margin: 16rem auto 0;
  padding-top: 1.2rem;
  vertical-align: middle;
  border-top: 0.1rem solid #bdbdbb;
}

.sup-progress-label {
  display: inline-block;
  width: calc(100% - 7rem);
  vertical-align: middle;
  font-weight: lighter;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.024rem;
  word-spacing: 0.1rem;
}
.sup-progress-spinner {
  margin-right: 1.2rem;
}

.card-setup-done .sup-progress-label {
  padding: 0 1.5rem;
}

.card-setup-done .sup-form-btn {
  position: absolute;
  bottom: 6.3rem;
  left: 1.5rem;
  right: 1.5rem;
  margin: 0;
}

.card-setup-done .sup-form-btn.recommend {
  bottom: 1.5rem;
}

/* get some margin around the form elements; I'm not sure how BB wants it */
.tng-form {
  margin: 0 3rem;
}

.tng-header-item {
  font-weight: bold;
  background-color: #eee;
}
.tng-header-item, .tng-item {
  display: block;
  width: 100%;
  border-bottom: 0.1rem solid gray;
  padding: 0.6rem;
  margin: 0;
  font-size: 1.6rem;
}
.tng-inert-item {
  color: gray;
}

.tng-account-item-label {
  white-space: nowrap;
  margin: 0;
}

.tng-account-add, .tng-account-delete {
  width: calc(100% - 3rem);
  margin: 1.1rem auto;
  text-align: center;
}

li:not([role]) {
  position: relative;
  width: 100%;
  min-height: 5.5rem;
  border-bottom: solid 0.1rem #dbd9d9;
  list-style-type: none;
}

li a:active {
  color: #FFFFFF;
  background-color: #008AAA;
}

.list-text-with-sub {
  padding: 2rem 0 1rem 0;
}

.list-text-with-sub .list-text {
  line-height: 2.2rem;
}

li.select-item {
  padding: 1rem 0 1rem 0;
}

.list-text {
  display: block;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  line-height: 5.5rem;
  padding-left: 3rem;
  font-size: 1.8rem;
  outline: 0 none;
}

.list-value {
  position: absolute;
  right: 0;
  padding-right: 1.2rem;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #52B6CC;
  font-size: 1.8rem;
  line-height: 5.5rem;
}

.list-sub-text {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #5b5b5b;
  font-size: 1.6rem;
  padding-left: 3rem;
}

li .aside.start {
  float: left;
  width: calc(100% - 13.5rem);
}

li .aside.end {
  float: right;
}

.aside.end .pack-switch {
  padding-right: 3rem;
  margin-right: 1.5rem;
}

li.align-center {
  text-align: center;
}

.mail-select {
  vertical-align: middle;
  height: 3.8rem;
  background: rgb(231, 231, 231);
  border: 0.1rem solid rgb(182, 182, 182);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.9rem 1rem;
  color: rgb(51, 51, 51);
  text-shadow: 0.1rem 0.1rem 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  outline: medium none;
}

.settings-input-title {
  display: block;
  font-size: 1.8rem;
  padding: 1rem 1rem 0 3rem;
}

li.settings-input-list {
  height: auto;
}

.tng-accounts-container {
  margin: 0;
  padding: 0;
}

.tng-accounts-container li {
  min-height: 6rem;
  text-align: center;
}

.tng-accounts-container li > a {
  padding: 0 3rem;
  text-align: left;
  font-size: 1.9rem;
  line-height: 6rem;
}

.settings-button {
  margin: 1.5rem 3rem;
  width: calc(100% - 6rem);
}

.tng-email-lib-version {
  opacity: 0;
}

section.card-settings-account-common li {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

section.card-settings-account-common li.syncinterval-setting label,
section.card-settings-account-common li.synchronize-setting label {
  height: 3.5rem;
  line-height: 3.5rem;
  width: auto;
}

section.card-settings-account-common li span.button {
  display: block;
  margin: 0 auto 1rem auto;
  width: calc(100% - 3rem);
}

section.card-settings-account-common li span.button select {
  padding-left: 0;
  text-align: left;
  text-indent: -0.22rem;
  /** Need to push the little select arrow off the page */
  width: calc(100% + 10rem) !important;
}

section.card-settings-account-common li .pack-checkbox {
  margin-top: 0.2rem;
}

.tng-account-check-interval,
.tng-account-synchronize {
  background: none;
  border: transparent;
  font-size: 1.7rem;
  font-weight: bold;
}

.sup-manual-account-type,
.sup-socket-select {
  font-size: 1.7rem;
  font-weight: bold;
  background: none;
  border: transparent;
  margin-left: -1.5rem;
  padding: 0.7rem 0 0.7rem 1.5rem;
}

li.sup-manual-account-type-container,
li.sup-socket-select-container {
  overflow: hidden;
  min-height: 100%;
  border-bottom: none;
}

li.sup-socket-select-container {
  margin-top: 1rem;
}

li.sup-manual-account-type-container .button {
  margin: 0;
}

.sup-progress-container {
  text-align: center;
}
