/* Overriding BB styles for headers */
section[role="region"] > header:first-child .icon {
  pointer-events: auto;
}

section[role="region"] > header:first-child a[aria-disabled="true"] .icon,
section[role="region"] > header:first-child button[aria-disabled="true"] .icon {
  pointer-events: none;
}

/* Overriding BB styles for edit mode */
form[role="dialog"][data-type="edit"] header .icon {
  pointer-events: auto;
}

form[role="dialog"][data-type="edit"] header {
  transform: translateY(-110%);
}

form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(110%);
}

#call-log-container[data-type="list"] section {
  background: #fff;
}

#sticky {
  position: absolute;

  /* The sticky element is positioned at the beginning of the list. */
  top: 0;

  /* The width is not 100% so the scrollbar is visible. */
  width: calc(100% - 1.5rem);

  /* The height needs to be kept in sync with the header height. */
  height: 3.1rem;

  /* The sticky element needs to be above the list. */
  z-index: 2;

  /* Those style will affect the bagroundImage: -moz-element. */
  background-repeat: no-repeat;
  background-position: 1.5rem 0;
}

#call-log-container[data-type="list"] header {
  background: #fff;
}

/* Override Building Block styles for lists */
#call-log-container[data-type="list"] {
  padding: 0;
}

#call-log-container[data-type="list"] header {
  margin: 0 1.5rem;
}

#call-log-container[data-type="list"] ol {
  padding: 0 1.5rem;

  /* Bug 967880 - [Call Log] Background doesn't scroll with the logs causing
   * expensive over-invalidation.
   */
  background-color: white;
}

#call-log-container[data-type="list"] li {
  height: 7rem;
  padding: 0.5rem 0 0;
  -moz-box-sizing: border-box;
}

#call-log-container[data-type="list"] li a p {
  line-height: 1.9rem;
}

#call-log-container[data-type="list"] li a p:nth-last-of-type(3) {
  padding: 0;
  line-height: 2rem;
}

.call-additional-info {
  text-transform: capitalize;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

li, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

.hide {
  display: none;
}

.view-body {
  background : white;
  color: black;
  height: -moz-calc(100% - 9.1rem);
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.view-body-inner {
  height: 100%;
  overflow: auto;
}

.view-body-inner ol {
  overflow: hidden;
}

.icon-container {
  float: left;
  height: 100%;
  width: 5rem;
}

.icon-incoming,
.icon-outgoing,
.icon-missed {
  background-size: 3rem;
}

/* .first-sim and .second-sim classes should only affect the style
 * if the .dual-sim class is set on the container */

[data-type="list"] aside.icon.icon-incoming {
  background-image: url('images/CallLog_30x30_incoming.png');
}
[data-type="list"].dual-sim aside.icon.icon-incoming.first-sim {
  background-image: url('images/CallLog_30x30_incoming-first-sim.png');
}
[data-type="list"].dual-sim aside.icon.icon-incoming.second-sim {
  background-image: url('images/CallLog_30x30_incoming-second-sim.png');
}

[data-type="list"] aside.icon.icon-outgoing {
  background-image: url('images/CallLog_30x30_outgoing.png');
}
[data-type="list"].dual-sim aside.icon.icon-outgoing.first-sim {
  background-image: url('images/CallLog_30x30_outgoing-first-sim.png');
}
[data-type="list"].dual-sim aside.icon.icon-outgoing.second-sim {
  background-image: url('images/CallLog_30x30_outgoing-second-sim.png');
}

[data-type="list"] aside.icon.icon-missed {
  background-image: url('images/CallLog_30x30_missed_grey.png');
}
[data-type="list"].dual-sim aside.icon.icon-missed.first-sim {
  background-image: url('images/CallLog_30x30_missed_grey-first-sim.png');
}
[data-type="list"].dual-sim aside.icon.icon-missed.second-sim {
  background-image: url('images/CallLog_30x30_missed_grey-second-sim.png');
}

[data-type="list"] .missed-call.highlighted aside.icon.icon-missed {
  background-image: url('images/CallLog_30x30_missed.png');
}
[data-type="list"].dual-sim .missed-call.highlighted aside.icon.icon-missed.first-sim {
  background-image: url('images/CallLog_30x30_missed-first-sim.png');
}
[data-type="list"].dual-sim .missed-call.highlighted aside.icon.icon-missed.second-sim {
  background-image: url('images/CallLog_30x30_missed-first-sim.png');
}

.log-item * {
  pointer-events: none;
}

.log-item .pack-end {
  position: absolute;
  right: 0;
}

.log-item:not(.hasPhoto) .pack-end {
  width: 0;
}

.log-item .primary-info {
  text-overflow: clip;
}

.log-item.hasPhoto a > p {
  width: 19rem;
}

.log-item:not(.hasPhoto) a > p {
  width: 25rem;
}

.log-item .primary-info span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-item .call-log-contact-photo {
  pointer-events: auto;
}

.log-item.missed-call.highlighted .call-time {
  color: #b90000 !important;
}

/* Edit mode state */
.recents-edit form[role="dialog"][data-type="edit"] header,
.recents-edit form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(0);
}

.recents-edit .pack-checkbox.call-log-selection {
  transform: translateX(4rem);
}

.recents-edit .log-item a {
  transform: translateX(3rem);
}

.recents-edit .log-item a > p {
  width: 22rem;
}

.recents-edit .pack-end {
  transform: translateX(6rem);
}

.recents-edit .call-log-contact-photo {
  pointer-events: none;
}

.recents-edit .log-item .pack-checkbox {
  pointer-events: auto;
}

/*
  No result container
*/

#no-result-container {
  background: url('images/ComLog_200x200_clock.png') fixed no-repeat center / 20rem;
  height: 100%;
}

#no-result-message {
  position: relative;
  top: 11.5rem;
  border-top: .1rem solid rgba(96,96,96,.5);
  padding: 1rem 0.5rem;
}

#no-result-message > p {
  text-align: left;
  line-height: 3rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: #606060;
  margin: 0;
}

#edit-mode {
  display: block;
}

.filter .log-item:not(.missed-call) {
  display: none;
}

.filter .groupFiltered {
  display: none;
}

.disabled {
  pointer-events: none !important;
}

.disabled *{
  pointer-events: none !important;
}
