/*
 *  The code is being shared between system/emergency-call/js/keypad.js
 *  and dialer/js/keypad.js. Be sure to update both file when you commit!
 *
 */

#fake-phone-number-view {
  font-size: 3rem;
  position: absolute;
  line-height: 0;
  visibility: hidden;
}

#phone-number-view-container {
  width: 100%;
  height: -moz-calc(100% - 34.5rem);
  background: #2C3743;
  text-align: center;
  display: table;
  table-layout: fixed;
  border-spacing: 1.5rem 0;
  font-weight: 300;
  overflow: hidden;
  padding-bottom: 4.5rem;
}

#phone-number-view-container.keypad-visible {
  height: -moz-calc(100% - 34.5rem);
  visibility: hidden;
}

#phone-number-view {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: left;
  cursor: none;
  -moz-user-select: none;
  padding: 0;
}

#keypad-delete {
  text-align: center;
  width: 4rem;
  visibility: hidden;
}

article:not(:target) #keypad-delete {
  display: none;
}

#keypad-delete > div {
  width: 3.3rem;
  height: 2.4rem;
  background: url('images/dialer_icon_delete.png');
  background-size: 3.3rem;
  background-repeat: no-repeat;
}

#keypad-delete:active > div {
  background-position: 0 -2.4rem;
}


#keyboard-container {
  width: 100%;
  height: 30rem;
  background-color: white;
}

#keypad {
  background: rgba(24,24,24,.92);
  height: -moz-calc(100% - 10rem);
  width: 100%;
  display: table;
  table-layout: fixed;
}

.keypad-cell {
  display: table-row;
}

.keypad-key:first-child {
  border-left: 0;
}

.keypad-key:last-child {
  border-right: 0;
}

.keypad-key {
  display: table-cell;
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  padding: 1.3rem 0 0 1.5rem;
  -moz-box-sizing: border-box;
  height: 6rem;
  vertical-align: middle;
  color: white;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1rem;
}

.keypad-key em {
  margin-left: 0.3rem;
  font-weight: normal;
  font-size: 1.5rem;
  color: #96AAB4;
  font-style: normal;
}

.keypad-key:active {
  background: #00aacc;
}

.keypad-key:active em {
  color: #FFF;
}

.keypad-key:active .voicemail {
  background-image: url('images/voicemail_.png');
}

.keypad-key * {
  pointer-events: none;
}

#keypad-delete * {
  pointer-events: none;
}

.keypad-key-centered {
  padding: 0.9rem 0 0 0;
  text-align: center;
}

.keypad-key .font-size-plus {
  font-size: 2rem;
  font-weight: normal;
}

.keypad-subicon {
  background-repeat: no-repeat;
  background-position: center bottom;

  -moz-user-select: none;
  pointer-events: none;

  display: inline-block;
  width: 2.2rem;
  height: 1.1rem;
}

.voicemail {
  background-image: url('images/voicemail.png');
  background-size: 2.2rem;
}

.asterisk {
  background-image: url('images/asterisk.png');
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  background-size: 3rem 3rem;
  background-position: center;
  margin: auto 1.5rem;
  pointer-events: none;
}

.sharp {
  background-image: url('images/sharp.png');
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  background-size: 3rem 3rem;
  background-position: center;
  margin: auto 1.5rem;
  pointer-events: none;
}

#keypad-callbar {
  background: rgba(24,24,24,.92);
  height: 6rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom: 0;
  border-left: 0;
  -moz-box-sizing: border-box;
}

#keypad-callbar-add-contact,
#keypad-callbar-cancel {
  width: 9rem;
  background: url("images/btn_generic.png") repeat-x;
  background-size: auto 100%;
  border-radius: .2rem;
  margin: 0.8rem 0 0.8rem 0.8rem;
}

#keypad-callbar-add-contact.disabled {
  opacity: 0.2;
}


#keypad-callbar-add-contact:active {
  background: #333333;
}

#keypad-callbar-cancel {
  width: 10rem;
}

#keypad-callbar-cancel:active {
  opacity: 0.7;
}

#keypad-callbar-cancel > div {
  text-align: center;
  font-size: 2rem;
}

#keypad-callbar-call-action {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-direction: row-reverse;
  background-image: url("images/ActionIcon_40x40_pickup.png"),
                    url("images/btn_pick_up.png");
  background-color: #4B780A;
  background-repeat: no-repeat, repeat-x;
  background-position: center;
  background-size: 4rem 4rem, auto 100%;
  border: 0;
  border-radius: .2rem;
  margin: 0.8em;
}

#keypad-callbar-call-action:active {
  background-image: url("images/ActionIcon_40x40_pickup.png");
}

.icon-add-contact {
  margin: auto;
  width: 4rem;
  height: 4.2rem;
  background-image: url("images/ActionIcon_40x40_addcontact.png");
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
}

.js-sim-indication {
  display: none;

  font-size: 1.3rem;
  margin-right: 10px;
}

.has-preferred-sim .js-sim-indication {
  display: initial;
}

.has-preferred-sim #keypad-callbar-call-action:after {
  content: "";
  position: absolute;
  width: 1.4rem;
  height: 1rem;
  bottom: 0;
  right: 0.9rem;
  background-image: url("/shared/style/sim_picker/images/long-tap-indicator.png");
  background-repeat: no-repeat;
  background-size: 1.4rem 1rem;
}

#keypad-hidebar {
  background: rgba(24,24,24,.92);
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-left: 0;
  -moz-box-sizing: border-box;
}

#keypad-hidebar-hang-up-action-wrapper {
  float: left;
  height: 6.5rem;
  width: 50%;
}

#keypad-hidebar-hide-keypad-action-wrapper {
  height: 6.5rem;
  width: 50%;
}

.keypad-hidebar-button {
  height: 4rem;
  border: 0;
  border-radius:.3rem;
  display: block;
}

#keypad-hidebar-hang-up-action {
  background: url("images/btn_hang_up.png") repeat-x;
  background-size: auto 100%;
  opacity: 1.0;
  margin: 1rem .5rem 1.5rem 1.5rem;
}

#keypad-hidebar-hang-up-action:active {
  background: #820000;
}

#keypad-hidebar-hang-up-action > div {
  margin: 0 auto;
  background-image: url('images/ActionIcon_40x40_hangup.png');
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

#keypad-hidebar-hide-keypad-action {
  background: url("images/btn_generic.png") repeat-x;
  background-size: auto 100%;
  opacity: 1.0;
  margin: 1rem 1.5rem 1.5rem .5rem;
}

#keypad-hidebar-hide-keypad-action:active {
  background: #333333;
}

#keypad-hidebar-hide-keypad-action > div {
  margin: -moz-calc((4rem - 3rem)/2) auto;
  background-image: url('images/ActionIcons_40x40_dismiss_keyboard.png');
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
  width: 3rem;
  height: 3rem;
}

.phone-number-font {
  font-size: 3rem;
  color: #fff;
}

/* Suggestion bar */
#suggestion-bar {
  margin-top: -4.5rem;
  padding: 0;
  width: 100%;
  font-size: 1.7rem;
  height: 4.5rem;
  overflow: hidden;
  -moz-box-sizing: border-box;
  position: absolute;
  border-top: 1px solid rgba(255,255,255,0.2);
}

#suggestion-count {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5.3rem;
  text-align: center;
  line-height: 4.3rem;
  margin: 0.2rem 0.2rem 0.4rem 0.2rem;
  color: white;
  font-weight: bold;
  border-left: 1px solid rgba(255,255,255,0.2);
}

#suggestion-count.more {
  background: url(images/icon_arrow_white.png) no-repeat right 0.3rem bottom / 1rem;
}

#suggestion-bar > .suggestion-item {
  height: 4.5rem;
  padding: 0.2rem;
  margin-right: 5.3rem;
  margin-left: 0.5rem;
  padding-right: 1rem;
  color: white;
  white-space: nowrap;
}

#suggestion-bar > .suggestion-item:active,
#suggestion-count:active {
  background-color: #00ABCC;
  transition: background-color 0.2s ease;
}

/* Matched item inside suggestion bar and suggestion overlay */
.suggestion-item .name {
  display: block;
  line-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.suggestion-item .tel-type:not(:empty):after {
  content: '|';
  padding: 0 0 0 0.6rem;
}

.suggestion-item .tel {
  font-size: 1.5rem;
  overflow: hidden;
}

.suggestion-item .tel > span {
  color: #00CAF4;
  font-size: 1.5rem;
}

.suggestion-item > div {
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
}

.suggestion-item .avatar {
  float: right;
  width: 4.5rem;
  height: 4.5rem;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.suggestion-item .avatar.hidden {
  opacity: 0;
}
