<element name="crashReports" extends="section">
  <template>

    <header>
      <a href="#improveBrowserOS"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="crashReports-header"> Crash Reports </h1>
    </header>

    <div>
      <ul>
        <li class="description">
          <p data-l10n-id="crash-reports-description-1"></p>
          <p data-l10n-id="crash-reports-description-2"></p>
          <p>
            <span data-l10n-id="crash-reports-description-3-start"></span><!--
            --><a href="https://www.mozilla.org/privacy/" data-l10n-id="crash-reports-description-3-privacy" class="link-text"></a><!--
            --><span data-l10n-id="crash-reports-description-3-end"></span>
          </p>
        </li>
      </ul>
    </div>

  </template>
</element>
